<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>评论-闲言轻博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ template "comm/link.html" . }}
</head>
<body class="lay-blog">
	{{ template "comm/header.html" . }}
		<div class="container-wrap">
			<div class="container container-message container-details">
					<div class="contar-wrap">
						<div class="item">
							<div class="item-box  layer-photos-demo1 layer-photos-demo">
								<h3><a href="details?key={{.note.Key}}">{{ .note.Title }}</a></h3>
								<h5>作者：{{ .note.User }}发布于：<span>{{date .note.Updated "Y-m-d H:i:s"}}</span></h5>
								<p>{{ str2html .note.Content}}</p>
							</div>
							<div class="count layui-clear">
								<span class="pull-left" >阅读<em>1000+</em></span>
								<span class="pull-right "><a href="javascript:;" class="like" data-type="note" data-key="{{.note.Key}}">点赞</a>
									<em class="value">99+</em>
								</span>
							</div>
						</div>
						<a name="comment"> </a>
						<div class="title layui-clear">
							<a href="javascript:;" class="pull-left">评论 {{.note.Praise}}</a>
							<a href="comment?key={{ .note.Key }}" class="pull-right">写评论</a>
						</div>
						<div id="LAY-msg-box">
						{{ template "comm/msg_tpl.html" . }}
						</div>
					</div>
			</div>
		</div>
		{{ template "comm/footer.html" . }}
<script>
	var userUID = {{ .User.Id }};
	var userRole = {{ .User.Role }}
	var note = { userid:{{ .note.UserID }},key:{{.note.Key}} };
	document.write("userUID: ",userUID,"userRole: ",userRole);
	// var txt=document.getElementById("intro").innerHTML;
	document.write("--note.userid:  ",note.userid,"---note.key: ",note.key);
	{{/*var userdid = {{ .User.ID }}*/}}
	// document.write("user.id  ", userdid )
			if (userUID >0 && userRole===0 && userUID===note.userid){
			layui.use(['util','jquery'], function(){
				var util = layui.util,
					$ = layui.jquery;

				//执行
				util.fixbar({
					bar1: '&#xe642',
					bar2: '&#xe640'
					,click: function(type){
						console.log(type);
						if(type === 'bar1'){
							// alert("userUID: " + userUID )
							window.location.href="/note_edit?key="+note.key
						}
						if(type === 'bar2'){
							// alert('点击了bar2')
							$.post("/note_del?key="+note.key,function (data) {
								layer.msg("删除失败field code：" + data.field + data.code)
								if(data.code == 0){
									layer.msg("删除成功");
									if(data.action) {
										setTimeout(function () {
											window.location.href = data.action;
										}, 300);
									}
								}else {
									layer.msg("删除失败：" + data.msg);
								}
							}, "json").error(function () {
										layer.msg("网络异常")
									})
						}
					}
				});


			});
	}
</script>
</body>
</html>