{{ range .messages }}
    <div class="info-item">
        <img class="info-img" src="static/images/info-img.png" alt="">
        <div class="info-text">
            <p class="title count">
                <span class="name">{{ .User }}</span>
                <span class="pull-right like">
                    <a href="javascript:;" class="like" data-type="message" data-key="{{.note.Key}}">点赞</a>
					<em class="value">99+</em>
				</span>
            </p>
            <p class="info-intr">{{ .Content }}</p>
        </div>
    </div>
{{end}}